[2016-12-09 23:14] wagnert opened #2 "Use virtual filesystem instead of native filesystem functions"
parsing the directory for new CSV files is actually based on native PHP filesystem functions. Theses functions have to be replace with [virtual filesystem](https://github.com/thephpleague/flysystem) functions.

[2017-08-07 16:52] wagnert commented on #2
Closed with [version 1.0.0-beta35](https://github.com/techdivision/import-cli-simple/releases/tag/1.0.0-beta35)

[2017-08-07 16:52] #2 closed, assigned to wagnert

[2017-08-23 08:47] wagnert opened #117 "Attribute Import fails when invoking `add-update` after `replace` operation"
Attribute Import (using sample data) fails, when invoking `add-update` after a `replace` operation with the following message:

[code]
Stack Trace:

[code]

[2017-08-25 11:37] #117 closed, assigned to nobody

[2018-04-11 15:14] muhammadzia-se opened #149 "Remote images via url"
Hi Tim,
thanks for your valuable support. AS you said that we will upload the images directly to folder and put the images relative path in csv file. but if we have remote images then what procedure we will adopt.

Thanks & Regards,
Zia

[2018-04-11 16:17] wagnert commented on #149
Hi @muhammadzia-se, can you please describe what a remote image is in your case and what functionality you would expect? This will help us to understand you better and probably give you a solution.

[2018-04-12 05:18] muhammadzia-se commented on #149
Thanks for your reply.
like, i wan to add additional images under column header "additional_images" and values should separate commas "," their i will provide multiple images with comma.
eg: http://image.cdn1.jpg,http://image.cdn2.jpg,http://image.cdn3.jpg

Thanks.

[2018-04-12 07:30] wagnert commented on #149
Ok, i understand. Should the image be downloaded and moved to the pub/media/catalog/product/ folder or do you want them be loaded from the remote location when e. g. the catalog will be rendered? Basically the importer doesn't care about the images, it'll only set the value from the additional_images column to the database table where it belongs to. This means, if you have "http://image.cdn1.jpg,h

[2018-04-15 08:45] muhammadzia-se commented on #149
Thank you very much for your reply.
Actually it is saving the urls into database. and also i set the "Base URL for User Media Files" still it is not showing the images from remote source. for your best knowledge i am attaching the screenshots.
Thanks & Regards,
Zia
![base_url](https://user-images.githubusercontent.com/24359023/38776603-aac13034-40aa-11e8-8548-e3dc2e96d202.jpg)
![images](https://us

[2018-04-16 07:17] wagnert commented on #149
Hi @muhammadzia-se I think, you have to configure the Base URL as you did, but only specify the relative path to the Base URL in additional_images column like `my-path/test-01.jpg,my-path/test-02.jpg` ... but i didn't test it, so this is only an assumption ;)

[2018-04-16 08:48] muhammadzia-se commented on #149
Hi @wagnert Thank you for your reply.
you can see in attached screenshot, that i am uploading images in this way comma separated, it is storing values in the database but not showing at the frond end.
![images](https://user-images.githubusercontent.com/24359023/38799008-4cea2ff4-4174-11e8-9cd4-be6ee6ebcb17.jpg)

[2018-04-18 07:27] wagnert commented on #149
Hi @muhammadzia-se, please try it without the base URL in the additional_images field, only specify the relative path to the images like `my-path/test-01.jpg,my-path/test-02.jpg`.

[2018-04-22 08:35] muhammadzia-se commented on #149
hi Wagnert,
thanks for your kind reply!
you are right that i have to give relative path. but that will only be possible if i have those images in my database. this is first time i am uploading products with remote urls, those images are present on cloud i want them to be in magento while importing.

Regards,
Zia

[2018-05-15 14:22] wagnert commented on #149
@muhammadzia-se Hi, as described before, this should not be an importer issue, it's more up to your magento configuration and the path specified in your import files. If you need more help regard Magento image handling, please checkout the Magento developer documentation.

[2018-05-15 14:22] #149 closed, assigned to nobody

[2018-10-24 11:13] wagnert opened #156 "Import product bundles on Magento 2.2.x fails"
When trying to import the product bundle from the sample data M2IF is throwing the following execption

[code]

[2018-10-26 09:31] deiserh opened #157 "Import Url key on Magento 2.2.6"
If I update products on import with an url_key in the import file the following error occure:

[code]

[2018-11-27 15:14] wagnert opened #166 "Undefined `sourceDir` when combining --installation-dir with --configuration-dir options"
When invoking an attribute import with the following command

[code]

The import fails with the following notice/error

[code]

[2018-11-27 15:15] wagnert commented on #157
Seems to be a project specific issue

[2018-11-27 15:15] #157 closed, assigned to wagnert

[2018-11-27 15:15] wagnert commented on #156
Resolved with version 2.0.0

[2018-11-27 15:15] #156 closed, assigned to wagnert

[2018-11-27 15:28] wagnert commented on #166
Fixed with version 2.0.2

[2019-03-01 20:38] #166 closed, assigned to wagnert

[2019-03-14 23:11] wagnert opened #198 "Missing Support for Grouped Products"
Actually M2IF doesn't support Grouped Products. It should be possible to import Grouped Products based on the format of the Magento 2 standard CSV format whereas the column `associated_skus` contains the relations in the format `24-MB01=0.0000,24-MB04=0.0000,24-MB03=0.0000`.

[2019-03-22 19:12] wagnert commented on #198
Added with M2IF version 2.3.0/3.2.0.

[2019-03-22 19:12] #198 closed, assigned to nobody

[2019-05-07 08:12] wagnert opened #204 "Call to undefined method getVersion() in debug mode"
When running M2IF in debug mode, the following exception occurs

[code]

[2019-06-18 20:36] kjhnns opened #216 "Support for database prefixes"
My database is using a prefix for the tables. I found yet no way to add a database prefix to the configuration. Is there a solution to this problem?

[2019-06-20 05:42] wagnert commented on #216
Hi, i’m really sorry to say, but actually we don’t have support for prefixes, but we’ll add it to the feature list. Thanks for asking 🙂

[2019-07-01 11:54] mairl opened #220 "Import Attributes using the command bin/import-cli-simple.phar import:attributes fails"
Import Attributes using the command bin/import-cli-simple.phar import:attributes fails.
* it not possible to import an attributes-set using the bin/import-cli-simple.phar
* for this import was used the provided import-cli-simple  data

![Import error for attributes-set](https://user-images.githubusercontent.com/10232453/60434512-9630de80-9c07-11e9-9292-62c286da621f.png)
screenshot

[2019-07-01 12:11] mairl opened #221 "Issue to load configuration using import-cli-simple.phar"
issue to load the configuration using import-cli-simple.phar for import

![Bildschirmfoto 2019-07-01 um 14 10 39](https://user-images.githubusercontent.com/10232453/60435506-0ccedb80-9c0a-11e9-8ff0-4ed00d5f1ca1.png)

[2019-07-01 12:56] mairl opened #222 "issue installing import-cli-simple using composer"
installing import-cli-simple failes because of the proper version of jms/serializer
![Bildschirmfoto 2019-07-01 um 14 10 39](https://user-images.githubusercontent.com/10232453/60438172-61755500-9c10-11e9-88cd-91378a7cce19.png)

[2019-07-04 08:44] mairl opened #224 "by using the argument --archive-artefacts=0/1 is not working"
if using the argument --archive-artefacts=false/true, it is working
if using the argument --archive-artefacts=0/1 it is not working

[2019-09-12 07:55] Morgy93 opened #229 "CSV date format import improvements"
Current date format is `n/d/y, g:i A`

1. With Magento it's possible to use date attributes without time, so please make it possible to import data without time given. (eg. without `, g:i A`)
![image](https://user-images.githubusercontent.com/7961978/64764264-ffa36680-d541-11e9-9b6e-b845ef348e06.png)

2. It shouldn't matter if you use like `d`or `j`, `m` or `n` (with and without leading zeros)
Mag

[2019-09-16 13:29] wagnert commented on #229
@Morgy93 Thanks for reporting. I had a more detailed look at the PHP documentation for the [\DateTime::createFromFormat()](https://www.php.net/manual/de/datetime.createfromformat.php) method we use to parse the date.

The method doesn't allow something like optional time, so it's necessary to specify the date format used in the CSV file.

But I guess, that your CSV file **ALWAYS** contains the dat

[2019-09-16 13:51] wagnert commented on #222
A [documentation page](https://docs.m2if.com/getting-started/usage/using-as-phar) that describes how this can be done has been added.

[2019-09-16 13:51] #222 closed, assigned to wagnert

[2019-09-16 13:53] wagnert commented on #221
A [documentation page](https://docs.m2if.com/getting-started/usage/using-as-phar) that describes how this can be done has been added.

[2019-09-16 13:53] #221 closed, assigned to wagnert

[2019-09-16 15:35] wagnert commented on #220
Has been fixed with [techdivision/import-cli-simple 3.5.0](https://github.com/techdivision/import-cli-simple/releases/tag/3.5.0).

[2019-09-16 15:35] #220 closed, assigned to wagnert

[2019-09-18 13:24] Morgy93 commented on #229
The ability to specify the date format is totally fine.
I'd just like to have a more "global" option for this.

But maybe this can be achieved with: https://feathub.com/techdivision/import-cli-simple/+2

[2019-09-18 15:25] wagnert commented on #229
@Morgy93 All right, I'll see if it's possible to achieve this with techdivision/import-cli-simple#2

[2019-09-18 15:25] #229 closed, assigned to wagnert

[2019-09-18 16:43] #224 closed, assigned to wagnert

[2019-09-19 14:47] wagnert commented on #216
@kjhnns I've created the branch 3.8.x with the table prefix feature. It'll finally be released with the 3.8.0 version, but if you like and have the time you're welcome to test it. Your feedback will be well appreciated.

[2019-10-11 12:54] wagnert opened #231 "Compatility with Magento 2.3.3"
Trying to install M2IF 3.7.6 with Magento 2.3.3 via Composer fails with a library incompatibility of `jms/serializer`.

Magento, up from version 2.3.3, seems to use parts of the [Allure](https://github.com/allure-framework/allure-php-commons) Framework which is a multi-language test report tool. These framework has a composer dependency on `jms/serializer` version `^0.16.0` which is very outdated.

[2019-10-16 17:31] wagnert commented on #231
Has been fixed with [3.7.7](https://github.com/techdivision/import-cli-simple/releases/tag/3.7.7).

[2019-10-16 17:31] #231 closed, assigned to wagnert

[2019-10-24 09:05] sydekumf opened #233 "Status attribute should be 2 as default value"
When you import a product import file without `status` field included, it should not default to `0 `. Instead it should default to `2`, which is deactivated.

[2019-11-11 09:51] wagnert opened #234 "Category anchor flag is considered when importing products"
When products are imported, the category anchor flag will *NOT* be considered when the column is not part of the CSV file or the column is empty, which results in relations with the categories that are listed in the `categories` column only.

[2019-12-02 12:57] wagnert commented on #233
@sydekumf Hi, why should an imported product be `disable` by default. In general, we assume that a product should be enabled by default and the inventory decides if the product will be visible on the frontend.

[2019-12-02 13:10] #233 closed, assigned to wagnert

[2019-12-02 13:10] #234 closed, assigned to wagnert

[2019-12-04 20:24] serik303 opened #235 "What is wrong with my CSV?"
./bin/import-cli-simple.phar import:create:ok-file --configuration=./magento2/m2if/import-cli-simple/vendor/techdivision/import-category/etc/techdivision-import.json
Successfully written OK file /var/www/magento_2.3.3/var/importexport/category-import.ok

./bin/import-cli-simple.phar --verbose import:categories
 Now start import with serial e00d6bc3-8a1b-424b-998f-afecfb76c5bc [catalog_category =>

[2019-12-05 07:47] wagnert commented on #235
@serik303 I've updated the second file to
[code]
and it worked for me. Please clean-up your database, use the CSV data from above and try it again, maybe you've invalid data in the database.

[2019-12-05 09:57] serik303 commented on #235
Hi,
thx, but the same issue here
absolutly fresh magento 2.3.3, last stable 3.7.8 import-cli-simple.phar, csv from your post above
import without errors or warnings, BUT:

![cat_test](https://user-images.githubusercontent.com/6704813/70224443-93558f00-174d-11ea-9cb3-d5066c25733e.jpg)

and var/importexport/archive:
[1650e692-b471-458a-a174-bfddf39af42f.zip](https://github.com/techdivision/import-cl

[2019-12-05 10:00] wagnert commented on #235
@serik303 Hm, that's crazy, because I'm testing it nearly every day :( So, would it be possible to delete the category from the backend again and have a look at the table `catalog_category_entity' and post a screenshot here?

[2019-12-05 10:32] serik303 commented on #235
with created (0) category:
![c_c_e_1](https://user-images.githubusercontent.com/6704813/70227314-ae76cd80-1752-11ea-8910-c3a473bdb060.jpg)

after I deleted the category from the backend and ./bin/magento cron:run; ./bin/magento cach:flush
![c_c_e_2](https://user-images.githubusercontent.com/6704813/70227410-d5cd9a80-1752-11ea-88b2-bc8f2ef93203.jpg)

[2019-12-05 10:49] wagnert commented on #235
@serik303 Seem's to be fine 👍 Could you provide a DB Dump for download from somewhere? Actually I don't have any idea what's wrong, so I think the only solution would be to have a look at the complete DB.

[2019-12-05 11:11] serik303 commented on #235
I can give you access to db and shell to magento, maybe it will be better?

[2019-12-05 11:43] wagnert commented on #235
Would also be perfect 👍

[2019-12-05 13:15] serik303 commented on #235
check your email

[2019-12-06 10:58] serik303 commented on #235
I have resolved the problem, I've changed
`store_view_code`
`default`
to
`store_view_code`
`admin`

[2019-12-06 11:05] wagnert commented on #235
Hi @serik303 Perfect, because I didn't found the time yet to have a look at the DB :) So I can close the issue?

[2019-12-06 11:39] serik303 commented on #235
yes, please!

with blank value this work too!
strange why does not work with "default"?

![cat_default](https://user-images.githubusercontent.com/6704813/70320589-6a083200-1825-11ea-96a9-6295f3efa26c.jpg)

[2019-12-06 12:00] wagnert commented on #235
@serik303 Yes, that's interesting. So I'll let the issue open to find out why `default` doesn't work.

[2019-12-06 12:29] serik303 commented on #235
Sorry Tim, but here is one more issue with categories and srore views :)
now i have two store views:
![store_de_ru](https://user-images.githubusercontent.com/6704813/70322805-6081c880-182b-11ea-83a6-2ac8715be1a9.jpg)
i make first colum:
`store_view_code`
`"de,ru"`
import is with error: Found invalid store view code "de,ru"
[full_error.txt](https://github.com/techdivision/import-cli-simple/files/39

[2019-12-06 12:41] wagnert commented on #235
@serik303 The data for a store view has be located in a separate row. Maybe we've an issue in the docs, so where did you found it?

[2019-12-06 12:53] serik303 commented on #235
https://docs.m2if.com/file-structure/category-import

fist column - store_view_code
Description - The specific store **view(s)**
Example - default,german,english

i have understood that as "default and german and english"

[2019-12-06 13:04] wagnert commented on #235
Ok, seems to be a misunderstanding or a bad description. I'll refactor it as soon as possible.

[2019-12-06 13:05] serik303 commented on #235
thx you for helping Tim!

[2019-12-06 13:13] wagnert commented on #235
You're welcome :)

[2019-12-06 13:44] serik303 commented on #235
one thing I still do not understand exactly:
column **path** is relative to category ID's? not to store_view_code and name

[2019-12-06 14:05] wagnert commented on #235
Hm, I don't completely understand the question, can you give me an example?

[2019-12-06 14:19] wagnert commented on #235
I've updated the documentation a bit, btw. there is an additional page that describes the format for multiple store views https://docs.m2if.com/file-structure/category-import/scopes :)

[2019-12-06 14:57] serik303 commented on #235
Thx, i have take a look at https://docs.m2if.com/file-structure/category-import/scopes and everything has become clear now!

Schönes Wochenende wünsche ich Dir!

MfG, Sergej

[2019-12-06 17:37] wagnert commented on #235
Danke, dir auch :-)

[2019-12-06 17:37] #235 closed, assigned to nobody

[2019-12-06 19:55] serik303 commented on #235
i have made a csv file, check it, if all is ok - it's a good example how to start with categories import
[category-import_20200608-114344_07.zip](https://github.com/techdivision/import-cli-simple/files/3933779/category-import_20200608-114344_07.zip)

[2019-12-07 14:17] wagnert commented on #235
@serik303 Thanks very much :) It would be awesome, if you can make a PR to our library with the [sample data](https://github.com/techdivision/import-sample-data) :)

[2019-12-07 16:27] serik303 commented on #235
i know you can do it better! one link on
https://docs.m2if.com/getting-started
and you're done :)))

add:
und danke für [sample data](https://github.com/techdivision/import-sample-data) ich habe das überhaupt übersehen (besser sagen: gar nicht gesehen)

[2019-12-07 16:59] wagnert commented on #235
Hab mal zwei - drei Sätze unter https://docs.m2if.com/getting-started eingefügt, ich hoffe es passt so :)

[2019-12-07 20:52] serik303 commented on #235
für mich - JA :)
ich bin aufmerksam aber habe trotzdem "sample data" nicht bemerkt, jetzt ist es viel besser!
danke für deine Mühe 👍

[2019-12-07 22:00] wagnert commented on #235
@serik303 Gerne 🙂

[2019-12-10 14:06] wagnert opened #236 "Support for importing products from other sources, e. g. an simple array"
Requested is a functionality, that adds support to simply integrate other sources to load the data from, e. g. from an array. The actual approach focuses on reading data from files which is not in all cases the optimal way. A solution like Magmi import provides will be appreciated.

[2020-01-16 20:56] wagnert commented on #216
This feature has been released with version [3.8.0](https://github.com/techdivision/import-cli-simple/releases/tag/3.8.0).

[2020-01-16 20:56] #216 closed, assigned to wagnert

[2020-01-16 21:07] wagnert commented on #236
Have a look at our [example](https://github.com/techdivision/import-adapter-custom) to get an idea of how this can be realized.

[2020-01-16 21:07] #236 closed, assigned to wagnert

[2020-01-27 06:13] adhocore opened #238 "Integrity constraint violation in catalog_product update"
[code]
[code]
... in file `<file>.csv` on line `<line>`

Magento 2.3.3 EE and M2IF 3.8 using minimal csv file with below headers:
[code]
and two rows with all details same except `store_view_code` (varies by locale) and `description` (varies by locale too)

in first import it works fine. but with same dataset if i change the `description` and import again, there is an error as shown above.

[2020-03-13 17:11] wagnert commented on #238
Hi @adhocore,

I've tested it with the latest 3.8.7 and I was not able to reproduce the issue. As the minimum, I've to specify the following headers (together with the example data I used)

[code]

I was able to import it as many times as I wanted. I'll be very helpful to get a more detailed description that allows me to reproduce the issue.

[2020-03-14 14:22] adhocore commented on #238
hi @wagnert it is related to my PR techdivision/import-product#148, because it picked wrong row_id hence constraint violation.

fixed by that PR already. closing

[2020-03-14 14:22] #238 closed, assigned to wagnert

[2020-03-14 14:34] wagnert commented on #238
@adhocore Thanks :-)

[2020-03-30 10:20] Morgy93 opened #239 "Get magento version from cli (as fallback)"
Hello,

if the `composer.json` lacks the `version` which is obviously needed:

[code]

You might want to grab the version from `/bin/magento --version`:
[code]

[2020-03-30 10:50] wagnert commented on #239
@Morgy93 Thanks for reporting, I'll take that into account for the next version :-)

[2020-04-03 12:49] Morgy93 opened #241 "Array support for attribute set import"
It would be awesome to have array support for the attribute set import.
Currently:

https://docs.m2if.com/38/file-structure/attributes-set-and-group-import/attribute-groups

But instead of

attribute_set_name | based_on | entity_type_code | sort_order | attribute_group_name | attribute_group_code | attribute_group_tab_group_code | attribute_group_sort_order | default_id
-- | -- | -- | -- | -- | --

[2020-04-04 09:09] wagnert commented on #241
@Morgy93 I'll check this, but in general, it's much more complicated for most of our users/customers to create CSV files using that more or less complex data format you're requesting. For most of them, it's much easier to create a CSV file with additional columns or rows. But I'll check it and see if there is any possibility, therefore.

[2020-04-07 12:44] Morgy93 commented on #241
Really? For me that has always been some pretty weird practice.
For PHP and especially with Magento (collections and so on) I think it's rather stressful to have to build csv data like this.

Easy:
[code]

Just one weird example which should at least show that it can get pretty complicated real quick 😁 :
[code]
(After writing this I found out that it wouldn't even work like this with multiple arra

[2020-04-09 22:46] fheider opened #242 "Error on create:configuration-file"
**Describe the bug**
bin/import-simple import:create:configuration-file
PHP Fatal error:  Uncaught Error: Call to undefined method TechDivision\Import\Configuration\Jms\Configuration::getCustom() in import-cli-simple/vendor/techdivision/import-cli/src/Command/ImportCreateConfigurationFileCommand.php:84

**To Reproduce**
Steps to reproduce the behavior:
1. composer create-project techdivision/impor

[2020-04-14 07:29] wagnert commented on #242
@fheider I've added it to the backlog and we'll fix the issue with the next release. Thanks for reporting!

[2020-04-27 04:59] HarmonyR opened #243 "Clean-up Not Happening On Product Import For Attribute Values"
**Describe the bug**
According to https://docs.m2if.com/38/getting-started/configuration/clean-up:

The way this reads, I should not have to do anything special to remove product attribute values. However, when I unset the CSV values, the product attribute value is not unset after the product import. It seems to be ignored. I have tested this with various attribute types including dropdowns, multi

[2020-04-27 05:07] HarmonyR opened #244 "Issues with convert in 3.8.11"
**Describe the bug**
I cannot find documentation anywhere on how to use the convert shortcut for attributes, https://docs.m2if.com/38/getting-started/usage#shortcuts. I tried the following.

`vendor/bin/import-simple import:create:ok-file && vendor/bin/import-simple import:attributes -- convert`

And received this error: **Can't find any plugins for shortcut "convert"**

I installed through compos

[2020-04-27 07:15] wagnert commented on #244
@HarmonyR Thanks for reporting. In general, you're absolutely right. There is actually no shortcut defined for the `convert` operation on attributes. I'll add this to the upcoming version 3.8.12. When I understand you right, what you expect to do is to generate a template CSV file, right? This will no be the behaviour, because the `convert` shortcut will expect a CSV file with products and will cr

[2020-04-27 09:26] HarmonyR commented on #244
Hi @wagnert, thank you for getting back to me. I expect an attribute_import CSV to be created from the provided product_import CSV. That is what the current documentation implies the outcome will be.

A template of the attribute_import CSV would be very helpful (since there are so many fields involved). However, we can make one ourselves from the fields listed at https://docs.m2if.com/38/file-stru

[2020-04-27 09:41] wagnert commented on #244
@HarmonyR All right, so you'll receive this with the upcoming version :) Regarding the template, I'll be nice if you would create a feature request (via the template), so we can go a bit deeper into the details, e. g. if there should be some sample lines and what the default values should/could be :)

[2020-04-27 09:42] wagnert commented on #243
@HarmonyR We'll verify this and come back to you as soon as possible.

[2020-04-27 15:27] wagnert commented on #244
Hi @HarmonyR I've added the requested functionality to the 3.8.x branch. So if you checkout and install the latest 3.8.x branch with

[code]

you'll be able to test it.

I've added the missing `convert` shortcuts for attributes and categories. Please keep in mind, that CSV files will only be generated, if at least one attribute option or category, that is referenced in the product CSV file, is **N

[2020-04-28 17:21] #242 closed, assigned to nobody

[2020-04-28 17:45] wagnert commented on #242
Hi @fheider I've added a bugfix to the 3.8.x branch. So if you checkout and install the latest 3.8.x branch with

git clone https://github.com/techdivision/import-cli-simple.git \
  && cd import-cli-simple \
  && git checkout 3.8.x
  && composer install
you'll be able to test it.

The bugfix will be part of the upcoming 3.8.12 release.

[2020-04-29 18:42] wagnert commented on #243
Hi @HarmonyR, besides a bug, the documentation was wrong and I've [updated](https://docs.m2if.com/38/getting-started/configuration/clean-up) it. So if you want to *clean-up* empty columns, you've to add them to the `clean-up-empty-columns` like `"clean-up-empty-columns": [ "activity", "erin_recommends" ]`.

I've added the bugfix to the 3.8.x branch. So if you checkout and install the latest 3.8.x

[2020-04-29 18:44] #243 closed, assigned to wagnert

[2020-04-29 18:44] #244 closed, assigned to wagnert

[2020-04-30 16:23] Morgy93 opened #245 "Add ability to only move attributes to different group within attribute_set"
I'd love to be able to move existing attributes to different groups within an attribute_set like it's possible via drag & drop at Magento backend:

![image](https://user-images.githubusercontent.com/7961978/80734035-d8b89580-8b0e-11ea-812a-857c40b9557a.png)

Example csv:

attribute_set_name | attribute_group_name | attribute_code
------------ | ------------- | -------------
Default  | New Group |

[2020-05-06 09:02] amenk opened #246 "After installation, cannot execute bin/magento anymore"
**Describe the bug**

cannot call bin/magento anymore after installation

**To Reproduce**
1. composer require techdivision/import-cli-simple
2. call `bin/magento`

**Expected behavior**
No error

**Screenshots**

    PHP Fatal error:  Class 'Laminas\ServiceManager\AbstractPluginManager' not found in ....vendor/laminas/laminas-filter/src/FilterPluginManager.php on line 27

**Versions**

Magento: 2

[2020-05-06 09:11] pathmissing commented on #246
Hi @amenk, thank you for reporting this issue, I will have a look at it right away.

[2020-05-07 09:21] amenk commented on #246
@pathmissing Even after uninstalling the package, `bin/magento` was broken, I was able to resolve it by deleting `vendor/laminas`. Seems to be something with the package-replacing?
Still I would like to give M2IF a try :)

[2020-05-07 10:00] amenk commented on #246
I just learned that m2if is more like a seperate symfony application than a Magento plugin, so it might not make to much sense to pull the dependencies into a Magento 2 project, right?

[2020-05-07 10:12] pathmissing commented on #246
@amenk You could use it as a standalone application required via composer, as a dependency in your Magento installation or you could use the import-cli-simple.phar file. All three ways are supported and should work out of the box.

The issue seems to be related to an incorrect set of dependencies, specifically `laminas/laminas-filter` which has a hard dependency on `laminas/laminas-servicemanager`

[2020-05-07 12:12] pathmissing commented on #246
Although it is indeed problematic for `laminas/laminas-filter` to have a hard dependency on `laminas/laminas-servicemanager` without having a "required" declaration in composer.json, it is not the root cause of the issue.

Back in january we accepted a pull request for using laminas-filter instead of the abandoned zend-filter: https://github.com/techdivision/import/commit/dbea2126572d575258aa190de

[2020-05-07 16:06] #246 closed, assigned to pathmissing

[2020-05-08 12:58] amenk commented on #246
Works, thanks :)

[2020-05-08 14:02] Giuliano69 opened #247 "Importing additional attributes in specific fields fails"
**Describe the bug**
A clear and concise description of what the bug is.
Creating a csv file with additional attributes each on specific coloumn, makes m2if import fails

**To Reproduce**
Steps to reproduce the behavior:
1. Created one  CSV, and validate it with Magento2 import validation
https://drive.google.com/file/d/1s2Phz17y__V_omecN57581myjoaOks1o/view?usp=sharing
2. copy the csv file in m2r

[2020-05-08 14:05] Giuliano69 commented on #247
The system.log file in case it can help

https://drive.google.com/file/d/1hz1NsruILauNTh_PR9rDH7_MK3cbw9jo/view?usp=sharing

[2020-05-08 15:37] wagnert commented on #246
@amenk Happy to hear that :)

[2020-05-09 09:24] wagnert commented on #247
@Giuliano69 I had a look at your file found two things you've to change:

* The filename has to follow a special convention to make M2IF recognize it (read more about that topic in the [documentation](https://docs.m2if.com/38/getting-started/usage) or one of our older blog [posts](https://m2if.com/blog/sample-data-import)), in your case simply rename it from `magento_bag_3.csv` to `product-import_

[2020-05-12 17:16] wagnert commented on #247
@Giuliano69 Has this issue been resolved, or can we close it?

[2020-05-15 08:53] #247 closed, assigned to wagnert

[2020-05-15 13:58] Morgy93 opened #248 "Support for content entities like cms pages and blocks"
Any chance of having support for content entities like cms pages and blocks?

[2020-05-15 15:02] Giuliano69 opened #249 "attribute add-update fails to update storefront labels"
**Describe the bug**
In [Usage] (https://docs.m2if.com/37/getting-started/usage) the shortcut add:update seems referred to apply only to product (function description is about product catalogue and sku)
but testing ALSO with attribute:import this kind of add-update seems to be also present in attribute:import
(First issue: maybe ad addendum to the doc may better describe this functionality)

We ca

[2020-05-15 15:25] Giuliano69 commented on #247
Thanks Tim for your kind reply.
I will try asap the import with the corrected filename. Sorry for the error.
The "Successfully executed" message may me feel I had no mistakes, but indeed I hat some .. :-)

One important question about your ADVICE for **innodb_flush_log_at_trx_commit** MySQL setting.

AFAIK, Default value of innodb_flush_log_at_trx_commit is set to 1 because it is required for ACID

[2020-05-18 07:56] wagnert commented on #247
Hi @Giuliano69 I want to answer your questions:

1. No, we did not have any problems with setting the value to 2 yet
2. It can have a significant effect on write operations (which has a massive performance improvement for M2IF), but from our point of view, we did not notice any effect on the store-front activity as this will mostly use read operations

Hope that answers your question, but you shou

[2020-06-12 11:15] amenk opened #250 "Still trying to parse composer,json for Magento edition, even we have a configuration file"
**Describe the bug**

We try to call import-simple with as small parameters as possible. But it seems to parse the composer.json even magento edition is specified

Is it a normal practice to have the Magento Edition in the composer JSON and not the own customer's project?

**To Reproduce**

composer.json starts like this:

	{
	    "name": "imi/custom_name_shop",
	    "description": "Customer Shop"

[2020-06-12 12:40] amenk commented on #250
I think there seem to be two problems:

* Magento composer version check by M2IF is still done even if it is configured in the configuration.json
* M2IF checks the composer.json root version but should actually check magento/product-community-edition's version in composer.lock

[2020-06-12 13:23] wagnert commented on #250
@amenk Thanks for reporting. We'll check this as soon as possible. As a quickfix, it should be possible to override Magento edition + version on commandline with `--magento-edition=CE` and `--magento-version=2.3.5`.

[2020-06-12 14:03] amenk commented on #250
Yes that works, but is somehow unsatisfying. In the end of the day that is a low priority issue.

[2020-06-12 15:13] wagnert commented on #250
@amenk All right, I'll check this as soon as possible :)

[2020-06-16 21:29] HarmonyR opened #251 "Composer updates to wrong version"
**Describe the bug**
When composer update is run, the wrong version is assumed to be the latest version. 3.18.17 is selected when the version (as of today) should be 3.8.21.

I believe the tag on https://github.com/techdivision/import-cli-simple/releases for 3.8.17 needs to be corrected (changed from 3.18.17 to 3.8.17).

**To Reproduce**
Steps to reproduce the behavior:
1. In a terminal run either

[2020-06-16 21:34] wagnert commented on #251
Hm, strange ... I‘ll check this tomorrow. May you have another dependency that prevents from updating to the latest version? Did you try it on a fresh instance? Thanks for reporting @HarmonyR  🙂

[2020-06-17 03:21] HarmonyR commented on #251
Even if you try it on a fresh install, it will try to install 3.18.17 because that looks like the highest version.

[2020-06-17 07:34] HarmonyR opened #252 "Integrity constraint violation: 1062 Duplicate entry for key 'URL_REWRITE_REQUEST_PATH_STORE_ID'"
**Describe the bug**
When importing product CSV containing a mix of new and existing products, I continue to get the following error on new products. I have confirmed the request path does not exist in the url_rewrite table.

`Integrity constraint violation: 1062 Duplicate entry for key 'URL_REWRITE_REQUEST_PATH_STORE_ID' when executing SQL "INSERT`

If I delete all products in Magento and then ru

[2020-06-17 09:00] HarmonyR opened #253 "Integrity constraint violation: 1048 Column 'sku' cannot be null"
**Describe the bug**
When importing a CSV containing configurable products, I continue to get the following error. I have confirmed sku is being set in the CSV file.

`Integrity constraint violation: 1048 Column 'sku' cannot be null when executing SQL "INSERT
               INTO inventory_source_item
                    (source_code,
                     sku,
                     quantity,

[2020-06-17 09:49] wagnert commented on #252
Hi @HarmonyR, thanks for reporting. Will you be able provide a CSV file with the categories, attributes and the attribute-sets also? This will make reproduction much easier :-)

[2020-06-17 09:59] wagnert commented on #251
Thanks for reporting, @HarmonyR. I've removed the tag and works now.

[2020-06-17 09:59] #251 closed, assigned to wagnert

[2020-06-17 14:46] HarmonyR commented on #252
Hi @wagnert, see attached.

[url_rewrite_issue_supporting_imports.zip](https://github.com/techdivision/import-cli-simple/files/4793283/url_rewrite_issue_supporting_imports.zip)

[2020-06-20 01:01] HarmonyR commented on #253
Hi @wagnert, I ran a very simple CSV with only 2 configurable products and confirmed there were no hidden characters in the beginning of the file. When I ran the import, I get a new error message, but still about SKUs.

`Found not mapped entity ID for SKU  in file variants_20200616-000000_03.csv on line 2 in column(s) variant_parent_sku`

A record is being created in catalog_product_entity, but it

[2020-06-20 10:33] wagnert commented on #253
Ok @HarmonyR, this is for sure a different problem, so I'll create a new issue [techdivision/import-cli-simple#254](https://github.com/techdivision/import-cli-simple/issues/254) for it and close this one for completeness, o. k.?

[2020-06-20 10:35] wagnert opened #254 "Not mapped entity ID for SKU in variants_"
Hi @wagnert, I ran a very simple CSV with only 2 configurable products and confirmed there were no hidden characters in the beginning of the file. When I ran the import, I get a new error message, but still about SKUs.

`Found not mapped entity ID for SKU  in file variants_20200616-000000_03.csv on line 2 in column(s) variant_parent_sku`

A record is being created in catalog_product_entity, but it

[2020-06-20 10:36] #253 closed, assigned to nobody

[2020-06-20 10:43] wagnert commented on #254
Hi @HarmonyR, in general this means tha the SKU you've referenced in your CSV file is either not in the DB or in the CSV file. In your case, products `72021` and/or `72011` are not in the DB. So it's not possible to create the relation of the simples `72021` + `72011` to your configurable `HR-TEST-04`. Additionally I see in your file empty values for `pim_lenscolor` in the column `configurable_var

[2020-06-20 23:03] HarmonyR commented on #254
Hi @wagnert all of the simple skus in the CSV are already in my DB. They are not in the CSV I provided as their own record. After researching how the native Magento Import works, I learned the simple products must be in the CSV before the configurable parent. I guess that is a requirement for M2IF as well?

The native Magento Import allows the attribute option values in the configurable_variations

[2020-06-21 12:21] wagnert commented on #254
Hi @HarmonyR, you do not have to have the simples, that has to be related with the configurable, in the CSV file nor the order matters. It is enough when the simples are at least in the DB. You can verify that with one of our [example CSV files](https://github.com/techdivision/import-sample-data/blob/4.x/generic/data/products/delta/product-import_20161021-161909_01.csv) and the command
[code]
Agai

[2020-06-21 18:26] HarmonyR commented on #254
@wagnert Start/End Rant was me trying to vent in a funny way. My rant about having to do extra work when a lookup is available right in the DB. I think your comment was wrong, "Additionally I see in your file empty values for pim_lenscolor in the column configurable_variations, which will also lead to an error."  :-)

OMG I have spent days on this issue and here it turns out the real issue is enco

[2020-06-22 08:08] wagnert commented on #254
@HarmonyR You're welcome, like to hear that things work now :). Regarding the UTF-8 BOM from Excel, I'm wondering that Magento Standard Import will process it without any problems, but I'll check this and let's see if we can also find a solution for that :).

[2020-06-22 08:08] #254 closed, assigned to nobody

[2020-06-23 10:54] wagnert commented on #252
Hi @HarmonyR I've tried to reproduce the issue, but I'm not able to. I can run the import as many times as I want, but the error wasn't triggered. We are aware of such problems, which result in general out of the fact, that there is no foreign key between `catalog_product_entity.entity_id` and `url_rewrite.entity_id` which can result in some garbage in table `url_rewrite`, e. g. broken imports or

[2020-07-18 16:53] #250 closed, assigned to wagnert

[2020-07-20 10:42] amenk commented on #250
not yet released I think :) https://packagist.org/packages/techdivision/import-cli-simple shows 3.8.23

[2020-07-21 14:11] wagnert commented on #250
@amenk Has been released with the [3.8.24](https://github.com/techdivision/import-cli-simple/releases/tag/3.8.24) today.

[2020-07-21 15:49] amenk commented on #250
thank you, I updated and was able to rename the project back to the customer name

[2020-07-29 21:19] wagnert commented on #252
@HarmonyR is this issue still available or are you able to import the data meanwhile? :-)

[2020-07-29 21:24] wagnert commented on #239
Hi @Morgy93, we've refactored the version check from `composer.json` to `composer.lock` and checking for version by evaluating the version of the installed `magento/product-community|enterprise-edition`. The related issue is techdivision/import-cli-simple#250. Would you please check if the implementation is now still o. k. for you, so we can close the issue as soon as possible.

[2020-07-30 06:00] Morgy93 commented on #239
Much better, thanks!

Closing~

[2020-07-30 06:00] #239 closed, assigned to nobody

[2020-07-31 04:34] HarmonyR commented on #252
@wagnert My settings are the same as your screenshot.

I am running Pacemaker - Community Console Tool 3.8.24 and this issue is no longer happening. Also, I am not including url_key in the "clean-up-empty-columns" list in app/etc/configuration/operations.json.

I think we can close this issue. Thanks!

[2020-07-31 12:20] wagnert commented on #252
@HarmonyR Perfect, thanks for the update :)

[2020-07-31 12:20] #252 closed, assigned to wagnert

[2020-08-28 00:16] HarmonyR commented on #252
@wagnert The issue started happening again. I cannot dump the url_rewrites table because the site is live now. I will send you the log files through Slack.

[2020-09-02 10:00] amenk opened #255 "Make console output colorful"
**Is your feature request related to a problem? Please describe.**

In the past we had an own function to display colorful log messages on the console.
No the logging output is sent to the console (4.0-alpha1) per default, which is great.

Shall we make that log output also use colors as per log level?

**Describe the solution you'd like**

wrap the messages with <warning>...</warning> and so on

[2020-09-02 16:24] pathmissing commented on #255
Hi @amenk, thank you for the suggestion. Would definitely be a useful addition :)
Do you have any specific ideas as to how and what you want to color?
Or do you have a screenshot with what you think the console output should look like?
Thanks!

[2020-09-02 16:25] amenk commented on #255
Just depending on the log level. There are already <warning> tags for the console I think

[2020-09-02 16:28] pathmissing commented on #255
Alright, sounds good. We are always happy for any contributions :)

[2020-09-03 13:53] amenk commented on #255
https://symfony.com/doc/current/logging/monolog_console.html states that output should be already colored.

But there is also https://github.com/bramus/monolog-colored-line-formatter - not sure if that is needed and if we want to introduce a dependency just for this.

[2020-09-03 13:55] amenk commented on #255
Looks like for the first solution we would need also an additional package: https://github.com/symfony/monolog-bridge

[2020-09-03 14:08] amenk commented on #255
I thought it would work in a different way.
Please advise if we would like to require one more package.
We can as well close this otherwise, it's not very important.

[2020-09-04 16:36] amenk commented on #255
I will go now with this:

https://stackoverflow.com/a/24086468/288568

[2020-09-04 16:36] #255 closed, assigned to nobody

[2020-10-20 15:52] c-schwan opened #256 "Extension Libraries configuration is not parsing"
if the custom configuration has included extension-lib the etc folder with configuration files will not be merged with the rest of it.

The File TechDivision\Import\Configuration\Jms\Parsers\JsonParser will parse only the config files when using additional-vendor-dirs configutation

[2020-10-21 20:10] wagnert commented on #256
Hi @c-schwan, seems that this has not yet been implemented, actually only parsing of the Symfony DI configuration of extension libraries has been supported. We'll add this functionality with the upcoming release 3.8.34.

[2020-10-27 14:42] c-schwan opened #257 "Events on Subjects not working"
Listeners on Subjects level are not recognized.

`"listeners": [
                    {
                      "subject.artefact.header.row.process.start": [
                        "import.listener.validate.header.row"
                      ]
                    }
                  ]`

Please take a look in AbstractSubject where the EventName is generated.

`protected function getEventName($eventNa

[2020-11-03 17:46] wagnert commented on #256
@c-schwan Can you please confirm that the feature works as expected? Thank you, your support is well appreciated.

[2020-11-07 09:50] wagnert commented on #256
Has been added with [3.8.34](https://github.com/techdivision/import-cli-simple/releases/tag/3.8.34).

[2020-11-07 09:50] #256 closed, assigned to nobody

[2020-12-16 11:27] c-schwan opened #258 "GraphNavigator Error on Database Configuration"
/**
     * The DB password to use.
     *
     * @var string
     * @Type("string")
     * @Exclude(if="context.getDirection() === 1")
     */
    protected $password;

will fail on the GraphNavigator because there is no expressionExclusionStrategy set.

[2020-12-17 12:19] pathmissing commented on #258
Commit in question: https://github.com/techdivision/import-configuration-jms/commit/69433bcedb0e6e9429b47c60dfd4a3cd471f28c6

Issue can be reproduced when a custom database configuration is supplied (e.g. with --custom-configuration-dir).

[2020-12-17 12:28] pathmissing commented on #258
Issue internally tracked as PAC-318.

[2021-02-09 13:44] ruWebsolute opened #261 "Magento 2.3.3 - Can't use product import with MSI modules disabled"
Using last version of m2if and Magento 2.3.3 if you disable all modules MSI the product imports rase this exception:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.inventory_source' doesn't exist

Ty for your support
**To Reproduce**
Steps to reproduce the behavior:
1. disable all MSI modules
2. setup:upgrade
3. launch product imports
4. See error

**Expected behavior**
It shou

[2021-02-15 12:18] Mardl commented on #261
The importer is granulated so that the product import executes many individual "steps". The MSI import is only one step of many.
If the MSI import is not needed, it should be removed from the "Steps".

Also the importer can be overlaid in Magento manner, but it is based on Symfony.

Instructions for own module for overlaying Smfony DI (or whole Observer) can be found here:
https://docs.met.tdinter

[2021-02-18 14:56] ruWebsolute commented on #261
In a workaround perspective I think it's perfect,
but the system includes this step or should it work automatically with or without MSI?
Thanks for the hint, however, it worked like a charm

[2021-02-22 08:53] Morgy93 opened #262 "logger/system.WARNING: Directory var/importexport/media/catalog/product doesn't exist"
**Describe the bug**
An unexpected warning is thrown upon `product:import` for not found directory.
Even if it's configured otherwise.

**To Reproduce**
1. Download/Install Pacemaker - Community Console Tool 3.8.42
2. Create `[magento]/var/importexport/product-import_20210222-082945_01.csv`:
[code]
3. Create `[magento]/app/etc/configuration/operations.json`:
[code]
4. Run `[magento]/vendor/bin/imp

[2021-02-23 09:23] pathmissing commented on #262
Hi @Morgy93! Thank you for reporting this issue. We will have a look!
Issue tracked internally as PAC-361.

[2021-02-23 09:46] denvit opened #263 "Call to a member function getSystemLogger() on null"
**Describe the bug**
I’m getting this error when importing products and when the import file (the ones that I prepare for M2IF) don’t have the data and has only CSV headers (product attributes)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an M2IF ready CSV file for import with only CSV headers (product attributes) data:
sku,attribute_set_code,product_websites,store,categori

[2021-02-23 10:19] pathmissing commented on #263
Hi @denvit, thank you for reporting this issue! We will have a look.
Issue tracked internally as PAC-362.

[2021-12-05 16:16] styx-tdo opened #266 "Not importing sample data, ok file creation succeeded (Move file issue)"
**Describe the bug**
When importing, the move-file part does not copy the ok file in the destination folder, breaking import.
Removing all move-file from the config fixes this.

**To Reproduce**
Steps to reproduce the behavior:
create a clean Mage env with composer
Create var/importexport

copy Pacemaker - Community Console Tool 3.8.53 to bin
Get https://raw.githubusercontent.com/techdivision/impo

[2021-12-05 16:19] styx-tdo commented on #266
It runs, tells it has copied stuff:

`stat("/var/www/dev/var/importexport/category-import.ok", 0x7fff8eb13670) = -1 ENOENT (No such file or directory)
**stat("/var/www/dev/var/importexport/category-import_20161024-194026.ok",** {st_mode=S_IFREG|0644, st_size=38, ...}) = 0
stat("/var/www/dev/var/importexport/category-import_20161024-194026_01.ok", 0x7fff8eb13670) = -1 ENOENT (No such file or direct

[2022-04-03 17:29] rdwivedi-hub opened #268 "Product Custom Option Import is not working."
# Preconditions
**Project Environment**

Magento Cloud Version: 2.4.2-p1
PHP: 7.4
Database: MariaDB 10.4.14
Techdivision Import Cli : 3.8.53

# Steps to reproduce
1. Prepare the import sheet ***product-import_20220403-044748_01.csv*** for multi-store view in the folder ***var/importexport*** directory.
2. Execute ***vendor/bin/import-simple import:create:ok-file*** from Magento root directory to g

[2022-04-25 19:04] rdwivedi-hub commented on #268
Hi @Mardl,
Did you get a chance to look into it? I am fairly new to this module so it is possible that I may have made some mistake while preparing the csv file. I have shared the sample content of the sheet in the ticket itself. Could you at least point me in the right direction so that I can find a workaround or root cause of this problem ?

[2022-04-27 11:56] rdwivedi-hub commented on #268
I was able to resolve the issue of "additional categories" after removing categories from other store views. Kept the categories for admin store view only and it stopped creating additional categories after import.
Issue with custom options is still there though. Not sure if I am doing something wrong or it's a bug.

[2022-07-08 07:16] Bullitt300 commented on #263
@Mardl this should be fixed in version https://github.com/techdivision/import/releases/tag/16.8.6

[2022-07-14 11:26] #263 closed, assigned to nobody

[2022-07-31 17:45] mk-mxp opened #269 "Can't use import:create:configuration-file"
I tried to dump a configuration file to kick-off my import project. But it does not work with the current version:

[code]

I could make it work by replacing `JsonSerializationVisitor` with `JsonSerializationVisitorFactory`, as just not passing the strategy object resulted in another error later in that method.